.header {
  position: relative;

  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;

  padding: 15px 0;
  margin-bottom: 20px;

  &::before {
    position: absolute;
    inset: 0;
    top: 100%;

    background-color: #000000;

    height: 2px;

    content: "";
  }
}

.authLinks {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;

  list-style: none;
  padding: 0;
  margin: 0;
}
