.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

  flex-grow: 1;
  max-width: 600px;
  margin: 0 auto;

  & > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.button {
  align-self: end;
}

.bottom {
  align-self: center;
}
